<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Search in catalog</title>
</head>
<body>
<div class="container">
    <h3></h3>
    <hr>
    <p class="h4 mb-4">Search</p>
    <form action="#" th:action="@{/search}"
          th:object="${printingProduct}" method="POST">
        <label for="searhType">Select search type</label>
        <select id="searhType" class="form-control mb-4 col-4" name="searhType">
            <option value="author" th:text="Author"></option>
            <option value="name" th:text="Name"></option>
            <option value="publisher" th:text="Publisher"></option>
        </select>
        <label for="searhData">Type search data</label>
        <input type="text" name="searchData" value="" id="searhData"
               class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Search</button>
    </form>
    <hr>
    <a th:href="@{/base_page}">Back to Catalog List</a>
</div>
</body>

</html>
